<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!--<setting id="video_format" type="enum" label="30300" default="0"   lvalues="30301|30302|30303" />-->

    <category label="30801">
        <setting label="30906" type="bool" id="en" default="true" />
        <setting label="30901" type="bool" id="id" default="false" />
        <setting label="30902" type="bool" id="cs" default="false" />
        <setting label="30903" type="bool" id="da" default="false" />
        <setting label="30904" type="bool" id="de" default="false" />
        <setting label="30905" type="bool" id="et" default="false" />
        <setting label="30907" type="bool" id="es" default="false" />
        <setting label="30908" type="bool" id="fr" default="false" />
        <setting label="30909" type="bool" id="hr" default="false" />
        <setting label="30910" type="bool" id="lt" default="false" />
        <setting label="30911" type="bool" id="sw" default="false" />
        <setting label="30912" type="bool" id="lv" default="false" />
        <setting label="30913" type="bool" id="hu" default="false" />
        <setting label="30914" type="bool" id="nl" default="false" />
        <setting label="30915" type="bool" id="nb" default="false" />
        <setting label="30916" type="bool" id="uz" default="false" />
        <setting label="30917" type="bool" id="pl" default="false" />
        <setting label="30918" type="bool" id="pt" default="false" />
        <setting label="30919" type="bool" id="pt-br" default="false" />
        <setting label="30920" type="bool" id="ro" default="false" />
        <setting label="30921" type="bool" id="sk" default="false" />
        <setting label="30922" type="bool" id="sl" default="false" />
        <setting label="30923" type="bool" id="sr-cyrl" default="false" />
        <setting label="30924" type="bool" id="fi" default="false" />
        <setting label="30925" type="bool" id="sv" default="false" />
        <setting label="30926" type="bool" id="vi" default="false" />
        <setting label="30927" type="bool" id="tr" default="false" />
        <setting label="30928" type="bool" id="el" default="false" />
        <setting label="30929" type="bool" id="bg" default="false" />
        <setting label="30930" type="bool" id="ru" default="false" />
        <setting label="30931" type="bool" id="uk" default="false" />
        <setting label="30932" type="bool" id="hy" default="false" />
        <setting label="30933" type="bool" id="he" default="false" />
        <setting label="30934" type="bool" id="ur" default="false" />
        <setting label="30935" type="bool" id="ar" default="false" />
        <setting label="30936" type="bool" id="hi" default="false" />
        <setting label="30937" type="bool" id="th" default="false" />
        <setting label="30938" type="bool" id="ko" default="false" />
        <setting label="30939" type="bool" id="ja" default="false" />
        <setting label="30940" type="bool" id="zh-cn" default="false" />
        <setting label="30941" type="bool" id="zh-tw" default="false" />
    </category>
</settings>
